.header-list {
	list-style-type: none;
	overflow: hidden;
	background: #555;
	top:0;
	margin: 0;
}
li a {
	display: block;
	color:white;
	text-align: center;
	font-size: 10px;
	padding: 18px 22px;
	float: right;
}
li a:hover {
	background-color: #111;
}